<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CategoriaProductos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">CategoriaProductos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input type="text" placeholder="Ingrese el Nombre Completo" [(ngModel)]="nombre"></ion-input>
    <br>
    <ion-button (click)="addCategoriaProducto()">Agregar CategoriaProductos</ion-button>
  </ion-item>
  <br>
  <ion-list>
    <ion-item *ngFor="let item of listaCategoriaProducto">
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label >{{item.nombre}}</ion-label>
        </ion-col>
      </ion-row>
      
      <!-- <b>Nombre</b>: {{item.nombreCompleto}}, <b>User Name</b>: {{item.userName}}, <b> Contrasenia</b>: {{item.password}} -->
    </ion-item>

  </ion-list>

</ion-content>
