<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-input type="text" placeholder="Ingrese el Nombre Completo" [(ngModel)]="nombreCompleto"></ion-input>
    <ion-input type="text" placeholder="Ingrese su User name" [(ngModel)]="userName"></ion-input>
    <ion-input type="text" placeholder="Ingrese la contresenia" [(ngModel)]="password"></ion-input>
    <br>
    <ion-button (click)="addUsuario">Agregar Usuario</ion-button>
  </ion-item>
  <br>
  <ion-list>
    <ion-item *ngFor="let item of listaUsuarios">
      <b>Nombre</b>: {{item.nombreCompleto}}, <b>User Name</b>: {{item.userName}}, <b> Contrasenia</b>: {{item.password}}
    </ion-item>

  </ion-list>

</ion-content>
